# Build
bin/
obj/
out/

# Logs
*.log
logs/

# Sensitive configs
appsettings.json
appsettings.Development.json
appsettings.Local.json
*.env
*.pfx
*.key

# Uploads (optional if you store local media)
wwwroot/uploads/
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png

# Dotnet tools
.dotnet/
.nuget/

